*{

    padding:0;
    margin:0;
  }


  #logo1{
    width: 0px;
    float: left;
    margin-top:20;
    margin-left: 20;
    padding:10px 0px 0px 40px;
    

}
    #menu{
      width:450px;
      padding-top:10px;
      margin:auto;
    }
    #menu ul a{
      color:#000;
      text-decoration:none;
      font:bold 16px verdana;
      padding:14px 20px 20px 20px;
    }
    #menu ul a:hover{
      color: blue;
      background: blueviolet;
    } 
    
      
  header{
      width:100%;
      height:50px;
      box-shadow: 1px 1px 5px #000;
      
      background:#fff;
    } 
    



































*{margin: 0; padding: 0;}
  
  body{
      background:#fffffa;
  }
  
  body {
    background-color: #fff;
   
  }
  header{
      width:100%;
      overflow: hidden;
      background: #0f0f0f;
      margin-bottom: 20px;
  }  
  .wrapper{
      width: 90%;
      max-width: 1000px;
      margin: auto;
      overflow: hidden;
  } 
  header .logo {
      color: #f2f2f2;
      font-size: 50px;
      line-height:100px ;
      float: left;
      padding:0px 20px 20px 110px;
  }  
  
  header nav{
      float: right;
      line-height: 200px;
  }    
  
  header nav a{
      display: inline-block;
      color:#fff ;
      text-decoration: none;
      padding: 10px 20px;
      line-height: normal;
      font-weight:bold ;
  }
  
  header nav a:hover{
      background:#250a9e ;
      border-radius: 50px;
  }
  
  .header2{
      
      height: 100px;
  } 
  
  .header2 .logo{
      line-height: 100px;
      font-size: 30px;
  }    
  .header2 nav{
      line-height:100px;
  }
  .contenido {
      padding-top: 10px;
  }    
  
  .contenido p{
      margin-bottom: 1em;
  }
  
  @media screen and (max-width:950px) {
      header.logo,
      header nav{
          width:100% ;
          text-align: center;
          line-height: 100px;
  }
      .header2{
          height: auto;
      }
      .header2 .logo
      .header2 nav{
          line-height: 50px;
      }
  
  }
  




















    
  *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: sans-serif;
  }


  


  
  footer{
      width: 100%;
      background: #202020;
      color: white;   
      
  }
  
  .container-footer-all{
      width: 100%;
      max-width: 1200px;
      margin: auto;
      padding: 40px;
  }
  
  .container-body{
      display: flex;
      justify-content: space-between;
  }
  
  .colum1{
      max-width: 300px;
  }
  
  .colum1 h1{
      font-size: 22px;
  }
  
  .colum1 p{
      font-size: 14px;
      color: #C7C7C7;
      margin-top: 20px;
  }
  
  .colum2{
      max-width: 400px;
      
  }
  
  .colum2 h1{
      font-size: 22px;
  }
  
  .row{
      margin-top: 20px;
      display: flex;
  }
  
  .row img{
      width: 36px;
      height: 36px;
  }
  
  .row label{
      margin-top: 10px;
      margin-left: 20px;
      color: #C7C7C7;
  }
  
  .colum3{
      max-width: 400px;
  }
  
  .colum3 h1{
      font-size: 22px;
  }
  
  .row2{
      margin-top: 20px;
      display: flex;
  }
  
  .row2 img{
      width: 36px;
      height: 36px;
  }
  
  .row2 label{
      margin-top: 10px;
      margin-left: 20px;
      max-width: 140px;
  }
  
  .container-footer{
      width: 100%;  
      background: #101010;
  }
  
  .footer{
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;  
      padding: 20px;
  }
  
  .copyright{
      color: #C7C7C7;
  }
  
  .copyright a{
      text-decoration: none;
      color: white;
      font-weight: bold;
  }
  
  .information a{
      text-decoration: none;
      color: #C7C7C7;
  }
  
  
  @media screen and (max-width: 1100px){
      
      .container-body{
          flex-wrap: wrap;
      }
      
      .colum1{
          max-width: 100%;
      }
      
      .colum2,
      .colum3{
          margin-top: 40px;
      }
  }
  

  
 

* {
    margin: 0;
    padding: 0;
    font-family: lato;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;
    color: #0e0d0d;
}

.slider-frame {
	width: 1280px;
    height: auto;
    padding-top: 0px;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}






@media screen and (max-width:950px) {
     .slider-frame,
     .slider-frame img              {
        width:100% ;
        text-align: center;
        line-height: 100px;
}
    .h2{
        height: auto;
    }
    .slider-frame
    .slider-frame img{
        line-height: 50px;
    }

}










*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}




.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}









@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}






























  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,
}
body{
    background: #f5f5f5;
} 

.contenedor{
    width: 100;
    max-width:1000px ;
    margin: auto;
    padding: 60px;
    background: #fff;
    margin-top: 50px;
} 

.titulo{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 10px;
    font-weight: 100;
}
.sub-titulo{
    font-size: 30px;
    font-weight: 400;
}

.contenedor img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom:20px ;
    clip-path: circle();

}

.contenedor p {
    text-align: justify;
    font-size: 25px;
    font-weight:120 ;
    margin-top: 20px;

}   
























.main{
	width:80%;
	margin:auto;
}

h1{
	text-align: center;
}

video{
	width:100%;
}
.contenedor-video{
	position:relative;
	overflow:hidden;
	padding-top:56.25%;
	
}

.contenedor-video iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
    
    

}






